<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StorageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StorageService.Properties.Settings>
            <setting name="AzureStorageServiceConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=andrelanceblob;AccountKey=7XrSSfZwM27xTK/RdT7D30aVs6UF2tIxOMVaK/8ygs+E0e7I6GFALq30T2S51goxeUGZzykmZq0Es1I0zcekeA==;EndpointSuffix=core.windows.net</value>
            </setting>
        </StorageService.Properties.Settings>
    </applicationSettings>
</configuration>